body{
font-family: Courier;
}

header{
  background-color: #6C8CD5;
  padding: 40px 0px 40px 25px;
}

.main-link{
  background-image: linear-gradient(#A67000, #062270, #A67000);
  padding: 5px 10px 5px 10px;
  font-size: 36px;
  text-decoration: none;
}
